{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":22,"column":8},"end":{"row":33,"column":15},"action":"insert","lines":["","# BEGIN WordPress","<IfModule mod_rewrite.c>","RewriteEngine On","RewriteBase /","RewriteRule ^index\\.php$ - [L]","RewriteCond %{REQUEST_FILENAME} !-f","RewriteCond %{REQUEST_FILENAME} !-d","RewriteRule . /index.php [L]","</IfModule>","","# END WordPress"],"id":2}]]},"ace":{"folds":[],"scrolltop":34,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":32,"mode":"ace/mode/apache_conf"}},"timestamp":1486641359597,"hash":"edc7f3507a2222ca988ef8349b2b80721bc20ef9"}